html,body{
    height: 100%;
    width: 100%;
}

#main{
    padding-top:1%;
    margin-top:1%;
    margin-left:5%;
    width:90%;
    left:5%;
    right:5%;
    /*background-color:lightblue;*/
    height: 100%;
}
#content{
    /*background-color:lightgreen;*/
    height: 100%;
}



#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #555;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#navbar li a:hover {
    background-color: #ccc;
    color: #111;
}

#categoriesList{
    display: none;
    position: absolute;
}

#categoriesList li{
    float: none;
    display: block;
}

#categoriesList a{
    text-align: left;
    display: block;

}

#title{
    /*padding-top:3%;*/
    margin-left:2%;
    padding:1%;
    padding-bottom:3%;
    font-size:30px;
}

.wid30{
    width: 30%;
    padding: 1%;
    float: left;
}
.wid50{
    width: 50%;
}
.wid100{
    width: 100%;
    margin: 1%;
    padding: 1%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.clear{
    width: 100%;
}

#topInfo{
    display: flex;
    justify-content: space-around;
}
#thumbnail{
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: 0;
}

