{% extends "recipes/base.html" %}


{% block content %}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.39/jodit.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.39/jodit.min.js"></script>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    {% with form.Title as field %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    {% endwith %}
    
    {% with form.Category as field %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
        <button id="new_cat">Add New</button>
    </div>
    {% endwith %}
    
    {% with form.Prep_Time_hour as field %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    {% endwith %}
    
    {% with form.Prep_Time_min as field %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    {% endwith %}
    
    {% with form.Cook_Time_hour as field %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    {% endwith %}
    
    {% with form.Cook_Time_min as field %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    {% endwith %}
    
    {% with form.Serves as field %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    {% endwith %}
    
    {% with form.Ingredients as field %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    {% endwith %}
    
    {% with form.Method as field %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    {% endwith %}
    
    {% with form.Notes as field %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    {% endwith %}
    
    {% with form.Image as field %}
    <!--Image-->
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    {% endwith %}
    
    
    <input type='submit' value='Save'>
</form>
<script type='text/javascript'>
    document.getElementById("new_cat").onclick=function(){
        /*
        var win=window.open('{% url "recipes:category_add" %}','','scrollbars=no,menubar=no,location=no')
        var submit=win.document.getElementById('submit');
        submit.onclick=function(){
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "{% url 'recipes:add_cat' %}", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send("fname=Henry&lname=Ford");
            
        }
        */
        var new_cat = prompt("New Category");
        if( (new_cat == '') && (new_cat != Null) )
            return false;
            
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if( this.readyState !=4)
                return 0;
            var resp = this.response;
            console.log(resp);
            var new_cat_resp=JSON.parse(resp);
            var cat_select = document.getElementById('id_Category');
            var new_cat_opt = document.createElement('option');
            new_cat_opt.setAttribute('value',new_cat_resp.cat_id);
            new_cat_opt.innerHTML = new_cat_resp.cat_title;
            cat_select.append(new_cat_opt);
            
            var children = cat_select.children;
            for(var i=0; i<children.length; i++){
                    children[i].removeAttribute('selected');
                }
            children[children.length-1].setAttribute('selected','');
        }
        
        xhttp.open("POST", "{% url 'recipes:add_cat' %}", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        var url = "new_cat="+new_cat+"&csrfmiddlewaretoken={{ csrf_token }}";
        xhttp.send(url);
        
        

        
    }
    
    
    //id_Ingredients
    //id_Method
    //id_Notes
    var edit_Ing = new Jodit('#id_Ingredients', {
  "defaultMode": "1",
  "disablePlugins": "iframe",
  "buttons": "|,bold,underline,italic,|,|,ul,ol,|,,|,table,link,|,undo,redo,cut,hr,eraser,copyformat,,symbol,selectall,about"
}),
    edit_Meth = new Jodit('#id_Method', {
  "defaultMode": "1",
  "disablePlugins": "iframe",
  "buttons": "|,bold,underline,italic,|,|,ul,ol,|,,|,table,link,|,undo,redo,cut,hr,eraser,copyformat,,symbol,selectall,about"
}),
    edit_Note = new Jodit('#id_Notes', {
  "defaultMode": "1",
  "disablePlugins": "iframe",
  "buttons": "|,bold,underline,italic,|,|,ul,ol,|,,|,table,link,|,undo,redo,cut,hr,eraser,copyformat,,symbol,selectall,about"
});

    
</script>
{% endblock %}
