<!--form>
    <ul>
    <li>Title: <input type="text" name='title'></li>
    <li>Unit/Amount: <input type="text" name='unit'></li>
    <li>Quantity: <input type="text" name='quantity'></li>
    <li><input type="submit" value='Save'></li>
    </ul>
</form-->
<form>
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
        
    {% endfor %}
<input id="submit" type='submit' value='Save'>
</form>
