{% extends "recipes/base.html" %}


{% block content %}
    title:{{recipe.Title}}<br>

    category:<a href="{% url 'recipes:category' recipe.Category_id %}">{{ recipe.Category }}</a><br>
    Prep_Time:{{ recipe.Prep_Time_hour }} Prep_Time:{{ recipe.Prep_Time_min }}<br>
    Cook_Time:{{ recipe.Cook_Time_hour }} Cook_Time:{{ recipe.Cook_Time_min }}<br>
    Serves:{{ recipe.Serves }}<br>
    Ingredients:
    <ul>
    {% for ingredient in recipe.ingredent_set.all %}
        
        <li>{{ ingredient.Title }} {{ ingredient.Quantity }} {{ ingredient.Unit }}</li>
        
    {% endfor %}
    </ul>
    
    Method:{{ recipe.Method }}<br>
    Notes:{{ recipe.Notes }}<br>
    Image:{{ recipe.Image }}<br>

    

{% endblock %}
