{% extends "recipes/base.html" %}


{% block content %}
    
    <br>
    
    <h2 id="recipeTitle">{{recipe.Title}}</h2>
    Category: <a href="{% url 'recipes:category' recipe.Category_id %}">{{ recipe.Category }}</a><br>
    
    <a href="{% url 'recipes:editRecipe' recipe.id %}">Edit Recipe</a>
    
    <br>
    {% if recipe.Prep_Time_hour or recipe.Prep_Time_min %}
    Prep_Time: {{ recipe.Prep_Time_hour }}h {{ recipe.Prep_Time_min }}m<br>
    {% endif %}
    {% if recipe.Cook_Time_hour or recipe.Cook_Time_min %}
    Cook_Time: {{ recipe.Cook_Time_hour }}h {{ recipe.Cook_Time_min }}m<br>
    {% endif %}
    
    {% if recipe.Serves %}
    Serves: {{ recipe.Serves }}<br>
    {% endif %}
            
<div id="details">
    </div>
    <div id="topInfo">

        <div id="ingredients"  class="wid50">
            <h3>Ingredients:</h3>
            
            {% autoescape off %}
            {{ recipe.Ingredients }}
            {% endautoescape %}
        </div>
        
        <div id="image" class="wid50">
            {% if recipe.Image %}
            <img id="thumbnail" src="{% url 'recipes:thumbnail' recipe.id %}" alt="Photo of Food or recipe creation">
            {% endif %}
        </div>
    </div>
    
    <div id="method">
        <h3>Method:</h3>
        {{ recipe.Method | safe }}
    </div>
    
    {% if recipe.Notes %}
    <div id="notes">
        <h4>Notes:</h4>
        {{ recipe.Notes | safe }}
    </div>
    {% endif %}
    
    

    

    

{% endblock %}
