<!--
-<ul>
-    {% for recipe in recipes %}
-        {% if not recipe.Deleted %}
-            <li><a href="{% url 'recipes:single' recipe.Category_id recipe.id %}">{{ recipe.Title }}</a></li>
-            {% endif %}
-    {% empty %}
-        <li>No Recipes, Try adding one <a href="{% url 'recipes:addRecipe' category.id %}">here</a></li>
-    {% endfor %}
-</ul>
-->
<div class="wid100">
<ul class="wid100">
    {% for recipe in recipes %}
        <div class="wid30 recipe_div">
        {% if not recipe.Deleted %}
            <li>
            {% if recipe.Image %}
                <a href="{% url 'recipes:single' recipe.Category_id recipe.id %}">
                    <img id="thumbnail" src="{% url 'recipes:thumbnail' recipe.id %}" alt="Photo of {{ recipe.Title }} Click to view recipe">
                <br>
                <div class="wid100">
                    <div class="wid50">{{ recipe.Title }}</div>
                    <div class="wid50">{% if recipe.Prep_Time_hour or recipe.Prep_Time_min %}
                Prep:{% if recipe.Prep_Time_hour %} {{ recipe.Prep_Time_hour }}h{% endif %} {% if recipe.Prep_Time_min %}{{ recipe.Prep_Time_min }}m{% endif %}<br>
                {% endif %}
                {% if recipe.Cook_Time_hour or recipe.Cook_Time_min %}
                Cook:{% if recipe.Cook_Time_hour %} {{ recipe.Cook_Time_hour }}{% endif %} {% if recipe.Cook_Time_min %}{{ recipe.Cook_Time_min }}m{% endif %}<br>
                {% endif %}
                
                {% if recipe.Serves %}
                Serves: {{ recipe.Serves }}<br>
                {% endif %}</div>
                </div>
                </a>
            
            {% else %}
                <a href="{% url 'recipes:single' recipe.Category_id recipe.id %}">{{ recipe.Title }}</a>
                <br>

                {% if recipe.Prep_Time_hour or recipe.Prep_Time_min %}
                Prep: {{ recipe.Prep_Time_hour }}h {{ recipe.Prep_Time_min }}m<br>
                {% endif %}
                {% if recipe.Cook_Time_hour or recipe.Cook_Time_min %}
                Cook: {{ recipe.Cook_Time_hour }}h {{ recipe.Cook_Time_min }}m<br>
                {% endif %}
                
                {% if recipe.Serves %}
                Serves: {{ recipe.Serves }}<br>
                {% endif %}

            
            {% endif %}
            </li>
            {% endif %}
        </div>
    {% empty %}
        No Recipes, Try adding one <a href="{% url 'recipes:addRecipe' category.id %}">here</a>
    {% endfor %}
</ul>
</div>
<div class="clear"></div>
