{% extends "recipes/base.html" %}
{% block content %}

<div class="wid100">
    <div class="wid30 side2side">
    {% with recipe1 as recipe %}
        {% include "recipes/recipe_content.html" %}    
    {% endwith %}
    </div>
    <div class="wid30 side2side">
    {% with recipe2 as recipe %}
        {% include "recipes/recipe_content.html" %}    
    {% endwith %}
    </div>
    <div class="wid30 side2side">
    {% with recipe3 as recipe %}
        {% include "recipes/recipe_content.html" %}    
    {% endwith %}
    </div>

</div>


{% endblock %}
